body {
    font-family: 'Josefin Sans';
    background-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-banner-img {
    width: 730px;
    height: 720px;
    position: absolute;
    right: 40px;
    top: 0px;
    margin-top: -250px;
    border-radius: 15px 15px 15px 100px;
}

@media screen and (max-width: 768px) {
    .hero-banner-img {
        width: 0px;
        height: 0px;
        /* position: none; */
    }
}

.search-btn:hover {
    color: #1976D2 !important;
    border: 1px solid #1976D2 !important;
}

.bodyPartCard {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.bodyPartCard:hover {
    transform: scale(1.1, 1.1);
}


.right-arrow,
.left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1976D2;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.right-arrow {
    right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
    transform: scale(1.3, 1.3);
}

.left-arrow:hover,
.right-arrow:hover {
    transform: scale(1.2, 1.2);
}

::-webkit-scrollbar {
    display: none;
}

.exercise-card {
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #1976D2;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
    text-decoration: none;
}

.exercise-card img {
    height: 326px;
}

.exercise-card:hover {
    transform: scale(1.1, 1.1);
}